<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <pipelines>
            <resolveTokens>
                <processor type="Sitecore.Support.XA.Foundation.Multisite.Pipelines.ResolveTokens.ResolveMultisiteTokens, Sitecore.Support.370127"
                           patch:instead="*[@type='Sitecore.XA.Foundation.Multisite.Pipelines.ResolveTokens.ResolveMultisiteTokens, Sitecore.XA.Foundation.Multisite']" />
            </resolveTokens>
        </pipelines>
        <events>
            <event name="item:created">
                <handler type="Sitecore.Support.XA.Foundation.Multisite.Pipelines.ResolveTokens.ResolveMultisiteTokens, Sitecore.Support.370127" method="OnItemCreated" />
            </event>
            <event name="item:deleting">
                <handler type="Sitecore.Support.XA.Foundation.Multisite.Pipelines.ResolveTokens.ResolveMultisiteTokens, Sitecore.Support.370127" method="OnItemDeleting" />
            </event>
        </events>
    </sitecore>
</configuration>